Proxy/.env
Proxy/Proxy
Proxy/Proxy.exe
Gameserver/Gameserver
Gameserver/Gameserver.exe
Gameserver/places
Gameserver/Versions
.env
RCCProxy
RCCProxy.exe
Orbiter/bin
Orbiter/obj
Orbiter/staging
Orbiter/out
